*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
body {
	font-family: "Circe-ExtraLight", sans-serif;
	font-weight: normal;
	font-size: 16px;
}
/*header*/
header {
	position: absolute;
	z-index: 10;
	top: 0;
}
header nav ul {
	padding-left: 25px;
}
header nav ul li {
	display: inline-block;
}
header nav ul li a{
	font-size: 14px;
	line-height: 2;
  color: rgb(67, 91, 117);
 }
header nav.pages ul li:nth-child(3) {
	padding: 0 25px;
 }
header nav.pages ul li a {
	font-family: "Circe-ExtraLight";
}
header nav.pages ul li a:active{
	color: rgba(255, 255, 255, 0.502);
	text-decoration: none;
}

/*All sections*/

main section {
	height: 100vh;
	position: relative;
}
main section footer {
	position: absolute;
	bottom: 17px;
	left: 25px;
}
main section footer img {
	padding-right: 40px;
	border-right: 1px solid #fff;
}
main section footer>.about_links {
	width: 70px;
	display: inline-block;
	vertical-align: middle;
	padding-left: 15px;
}
main section footer>.about_links a {
	font-size: 14px;
  font-family: "Circe-ExtraLight";
  color: rgb(255, 255, 255);

}
main section footer p {
  font-size: 24px;
  font-family: "Circe-ExtraLight";
  color: rgb(255, 255, 255);
  line-height: 1.167;
	display: inline-block;
	padding-left: 70px;
}


/*section 1*/


/*section 2*/

section.box-2 {
	padding-left: 21%;
  padding-top: 10%;
}
section.box-2 h1{
  font-size: 60px;
  color: rgb(51, 51, 51);
	font-weight: normal;
}
section.box-2 .main_text {
  font-size: 36px;
  color: rgb(51, 51, 51);
}
section.box-2 .main_text.bold{
  font-family: "Circe-Regular";
}
section.box-2 .main_text.email{
  font-size: 24px;
  color: rgb(31, 65, 189);
	text-decoration: underline;
}

section.box-2 footer img {
	border-color: rgb(77, 102, 128);;
}
section.box-2 footer>.about_links a {
  color: rgb(77, 102, 128);
}
section.box-2 footer p {
  color: rgb(51, 51, 51);
}

/*Footer*/

.wrap>footer {
	background: url(../img/footer.png) no-repeat;
	height: 100vh;
	background-size: cover;
	text-align: center;
	font-family: "Circe-ExtraLight";
}
.wrap>footer div img{
	margin: 12% 0 3% 0;
}
.wrap>footer div p{
  font-size: 18px;
  font-family: "Circe-ExtraLight";
  color: rgb(255, 255, 255);
  line-height: 1.333;
}
.wrap>footer div nav ul{
	padding: 0;
}
.wrap>footer div nav ul li{
	display: inline-block;
}
.wrap>footer div nav ul li:nth-child(2) {
	margin: 0 20px;
}
.wrap>footer div nav ul li a{
  color: rgb(255, 255, 255);
	font-size: 14px;
}
.wrap>footer div .tel {
	margin-top: 8%;
	font-size: 24px;
}
.wrap>footer div .social {
}
.wrap>footer div .social a{
	display: inline-block;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	width: 28px;
	height: 28px;
	margin: 0 5px;
}
.wrap>footer div .social a:hover{
	background: rgba(255, 255, 255, 1);
}
.wrap>footer div .social a i{
	color: rgba(0,0,0,0.9);
	vertical-align: sub;
}

header nav.pages ul li a:after {
	content: " ";
	display: block;
	position: relative;
	height: 1px;
	width: 100%;
	background: rgb(77, 102, 128);
	opacity: 0.2;
	transition: opacity .3s linear;
	z-index: 20;
	top: -5px;
}
header nav.pages ul li a:hover:after{
	opacity: 1;
}
footer .about_links a:first-child:after {
	content: " ";
	display: block;
	position: relative;
	height: 1px;
	width: 100%;
	background: rgb(77, 102, 128);
	opacity: 0.2;
	transition: opacity .3s linear;
	z-index: 20;
	top: -3px;
}
footer .about_links a:hover:first-child:after {
		opacity: 1;
}
.wrap>footer>div nav ul li a:after {
	content: " ";
	display: block;
	position: relative;
	height: 1px;
	width: 100%;
	background: white;
	opacity: 0.2;
	transition: opacity .3s linear;
	z-index: 20;
	top: -3px;
}
.wrap>footer>div nav ul li a:hover:after {
opacity: 1;
}
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	body {
    max-width: 768px;
    width: 100%;
  }
  header div nav.pages i {
      display: block !important;
      z-index: 20;
      position: absolute;
      top: 0.65em;
      left: 0.8em;
      font-size: 50px !important;
  }
  header div nav.pages img {
		display: block !important;
    position: absolute;
    top: 30px;
    left: 50vw;
    transform: translateX(-50%);
  }
  header div nav.pages ul {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 75vw;
    padding-top: 120px;
    margin: 0;
    background: #fff;
    padding-left: 0;
}
  header div nav.pages ul:before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: black;
  }
header div nav.pages ul img {
    display: block !important;
    z-index: 20;
    position: absolute;
    top: 0.8em;
    right: 8%;
    font-size: 50px !important;
}
  header div nav.pages ul li {
    display: block !important;
    padding: 0 !important;
    padding-left: 8% !important;
    height: 85px;
    border-bottom: 1px solid rgba(0,0,0, 0.3);
  }
  header div nav.pages ul li:last-child {
    border: none;
  }
  header div nav.pages ul li a {
    font-size: 36px;
    font-family: "Circe-Light";
    color: rgb(0, 0, 0);
    line-height: 83px;
  }
  header div nav.pages ul li p {
  font-size: 36px;
  font-family: "Circe-Regular";
  color: rgb(15, 153, 1);
  text-decoration: underline;
  margin: 1.2em 0;
}
main section {
	height: auto;
}
section.box-2 {
    text-align: center;
		padding-left: 0;
    padding-top: 25%;
}
 section.box-2 .main_text.bold {
  font-size: 48px;
  color: rgb(51, 51, 51);

}

section.box-2 .main_text.email {
  font-size: 36px;
  /*font-family: "Circe";*/
  color: rgb(31, 65, 189);
	margin-bottom: 180px;
}
main>section.box-2 footer {
  display: none !important;
}
.wrap>footer {
    background: url(../img/footer.png) no-repeat;
    height: 540px;
    background-size: cover;
    text-align: center;
    font-family: "Circe-ExtraLight";
}
main>section.box-3 {
  display: block !important;
  text-align: center;
  font-family: "Circe-Regular";
  font-size: 30px;
  color: rgb(15, 153, 1);
  text-transform: uppercase;
  margin-bottom: 70px;
}
main>section.box-3 p:before {
  content: "";
  display: block;
  height: 8px;
  width: 38px;
  margin: 60px auto;
  background-color: black;
}
main>section.box-3 img {
  display: block;
  margin: 10px auto 100px auto;
}
main>section.box-3 a {
    color: rgb(15, 153, 1);
    text-decoration: underline;
}

.wrap>footer div img, .tel, .social {
  display: none;
}
.wrap>footer div p{
  font-size: 36px;
  color: rgb(255, 255, 255);
  line-height: 1.167;
  text-align: center;
  padding-top: 60px;
  width: 81%;
  margin: 0 auto 40px auto;
}
.wrap>footer div nav ul li {
    display: block;

}
.wrap>footer div nav ul li a{
  font-size: 30px;
  font-family: "Circe-Regular";
  line-height: 2.6;
  text-align: center;
}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
