
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
.hideme {
opacity: 0;
}
/*#section6 .owl-wrapper {
	    height: 290px;
}*/

body {
	font-family: "Circe-ExtraLight", sans-serif;
	font-weight: normal;
	font-size: 16px;
}
/*header*/
header {
	position: absolute;
	z-index: 10;
}
header nav ul {
	padding-left: 25px;
}
header nav ul li {
	display: inline-block;
}
header nav ul li a{
	font-size: 14px;
	line-height: 2;
	color: rgb(255, 255, 255);
 }
header nav.pages ul li:nth-child(2) {
	padding: 0 25px;
 }
header nav.pages ul li a {
	font-family: "Circe-ExtraLight";
}
header nav.pages ul li a:active{
	color: rgba(255, 255, 255, 0.502);
	text-decoration: none;
}
header nav.sections ul li a{
  font-family: "Circe-Bold";
}
header nav.sections ul li a:active{
	font-family: "Circe-Light";
}
header nav.sections ul li i{
	color: rgb(255, 255, 255);
	font-size: 3px;
	padding: 0px 15px;
	-webkit-transform: translateY(-3px);
	-moz-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	-o-transform: translateY(-3px);
	transform: translateY(-3px);
}
section.box-1 footer {
	position: absolute;
	bottom: 17px;
	left: 25px;
	z-index: 10;
}
section.box-1 footer img{
	padding-right: 40px;
	border-right: 1px solid #fff;
}
section.box-1 footer>.about_links{
	width: 74px;
	display: inline-block;
	vertical-align: middle;
	padding-left: 15px;
}
section.box-1 footer>.about_links a{
	font-size: 14px;
  font-family: "Circe-ExtraLight";
  color: rgb(255, 255, 255);

}
section.box-1 footer p{
  font-size: 24px;
  font-family: "Circe-ExtraLight";
  color: rgb(255, 255, 255);
  line-height: 1.167;
	display: inline-block;
	padding-left: 70px;
}
section.box-1 footer .social{
	margin: -15px 0 0 330px;
}
section.box-1 footer .social a{
	font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
	padding-left: 10px;
}
section.box-1 footer .social a {
	font-size: 14px;
	padding-left: 10px;
}
section.box-1 footer .social a:hover {
	color: rgba(255, 255, 255, 1);
}

.fixedElements {
	position: fixed;
	    z-index: 1;
}
.fixedElements .fixedHeader{
/*z-index:6;*/
position: relative;
}
.fixedElements .fixedHeader_black {
	z-index:5;
	position: relative;
}
.fixedElements .fixedHeader nav.sections, .fixedElements .fixedHeader_black nav.sections{
	position: fixed;
	padding-left: 25px;
	padding-top: 10px;
	top: 0px;
		z-index: 0;
}
.fixedElements .fixedHeader nav.sections i, .fixedElements .fixedHeader_black nav.sections i{
	font-size: 18px;
	vertical-align: middle;
	cursor: pointer;
}
.fixedElements .fixedHeader nav.sections i {
	color: white;
}
.fixedElements .fixedHeader nav.sections ul.sendvich, .fixedElements .fixedHeader_black nav.sections ul.sendvich {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 240px;
  margin: 0;
  background: #fff;
  padding-left: 0;
  border-bottom: 1px solid rgba(0,0,0, 0.3);
  z-index: 5;
}
.fixedElements .fixedHeader nav.sections ul, .fixedElements .fixedHeader_black nav.sections ul{
	display: inline-block;
	padding-left: 20px;
}
.fixedElements .fixedHeader nav.sections ul li, .fixedElements .fixedHeader_black nav.sections ul li{
	display: inline-block;

}
.fixedElements .fixedHeader nav.sections ul li a, .fixedElements .fixedHeader_black nav.sections ul li a{
	font-family: "Circe-Bold";
	font-size: 14px;
	line-height: 2;
	color: rgb(77, 102, 128);
}
.fixedElements .fixedHeader nav.sections ul li a {
	color: white;
}
.fixedElements .fixedHeader nav.sections ul li i, .fixedElements .fixedHeader_black nav.sections ul li i{
	color: rgb(77, 102, 128);
	font-size: 3px;
	padding: 0px 15px;
	-webkit-transform: translateY(-3px);
	-moz-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	-o-transform: translateY(-3px);
	transform: translateY(-3px);
}
.fixedElements .fixedHeader nav.sections ul li i {
	color: white;
}

.fixedElements>div nav.sections ul.sendvich img{
    display: block !important;
    z-index: 20;
    width: 15px;
    height: 35px;
    padding: 10px 0;
    margin: 10px 20px 10px 0;
    float: right;
		cursor: pointer;
}
.fixedElements>div nav.sections ul.sendvich li{
  display: block !important;
  padding: 0 !important;
  padding-left: 8% !important;
  height: 60px;
  border-top: 1px solid rgba(0,0,0, 0.3);
  clear: both;
}
.fixedElements>div nav.sections ul.sendvich li a {
  font-size: 14px;
  font-family: "Circe-Light" !important;
  color: #36506a;
  line-height: 60px;
}

.fixedElements .fixedFooter_white footer, .fixedElements .fixedFooter_black footer {
	position: fixed;
	bottom: 17px;
	left: 25px;
	z-index: 2;
}
.fixedElements .fixedFooter_black footer {
	z-index: 4
}
.fixedElements .fixedFooter_white footer img, .fixedElements .fixedFooter_black footer img {
	padding-right: 40px;
	border-right: 1px solid #fff;
}
.fixedElements .fixedFooter_black footer img {
border-right: 1px solid rgb(77, 102, 128);
}
.fixedElements .fixedFooter_white footer>.about_links, .fixedElements .fixedFooter_black footer>.about_links {
	width: 74px;
	display: inline-block;
	vertical-align: middle;
	padding-left: 15px;
}
.fixedElements .fixedFooter_white footer>.about_links a, .fixedElements .fixedFooter_black footer>.about_links a {
	font-size: 14px;
  font-family: "Circe-ExtraLight";
  color: rgb(255, 255, 255);

}
.fixedElements .fixedFooter_white footer p, .fixedElements .fixedFooter_black footer p {
  font-size: 24px;
  font-family: "Circe-ExtraLight";
  color: rgb(255, 255, 255);
  line-height: 1.167;
	display: inline-block;
	padding-left: 70px;
}
.fixedElements .fixedFooter_white footer .social, .fixedElements .fixedFooter_black footer .social {
	margin: -15px 0 0 330px;
}
.fixedElements .fixedFooter_white footer .social a, .fixedElements .fixedFooter_black footer .social a {
	font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
	padding-left: 10px;
}
.fixedElements .fixedFooter_white footer .social a {
	font-size: 14px;
	padding-left: 10px;
}
.fixedElements .fixedFooter_white footer .social a:hover {
	color: rgba(255, 255, 255, 1);
}
.fixedElements .fixedFooter_black footer img,  {
	border-color: rgb(77, 102, 128);
}
.fixedElements .fixedFooter_black footer>.about_links a {
  color: rgb(77, 102, 128);
}
.fixedElements .fixedFooter_black footer p {
  color: rgb(51, 51, 51);
}

/*All sections*/

main section {
	height: 100vh;
	position: relative;
}
/*
main section nav.sections {
 }
 main section nav.sections i {
 }
 main section nav.sections ul {
 }
 main section nav.sections ul li {
 }
 main section nav.sections ul li a {
 }
 main section nav.sections ul li i {
 }
main section footer {
}
main section footer img {
}
main section footer>.about_links {
}
main section footer>.about_links a {
}
main section footer p {
}
main section nav.sections ul.sendvich {
}
main section nav.sections ul.sendvich img{
}
main section nav.sections ul.sendvich li{
}
main section nav.sections ul.sendvich li a {
}*/
/*section 1*/

main section.box-1 {
	/*background: url(../img/butan/section_1.png) no-repeat;
	background-size: cover;
	overflow: hidden;
	    background-position: right bottom;
			z-index: 2;*/
}
main section.box-1 .video{

    overflow: hidden;
    z-index: 0;
	position: absolute;
	min-width: 100%;
min-height: 100vh;
width: 100%;
height: 100vh;
	/*display: none;*/
      /*background: rgba(225,225,225,0.5);*/
			bottom: 0px;
}
main section.box-1 .video img{
	position: absolute;
	width: 100%;
	/*height: 100%;*/
	right: 0;
bottom: 0;
/*z-index: 0;*/
}
main section.box-1 .video iframe{
	/*z-index: -1;*/
	width: 100vw;
	height: 119vh;
	margin-top: -30px;
}
#closeVideo {
	background: rgba(255,255,255,0.2);
	padding: 5px;
	right: 20px;
	top: 10px;
	display: none;
	z-index: 9999;
	transition: all .3s linear;
	position: absolute;
}
#closeVideo:hover {
	background: rgba(255,255,255,0.6);
}
main section.box-1 .wrapper{
	/*z-index: 0;*/
	position: relative;
	height: 100%;
}
main section.box-1 .main_text {
padding-top: 29vh;
padding-left: 150px;
/*z-index: 6;*/
}
main section.box-1 .main_text .play {
	float: left;
	width: 80px;
	height: 80px;
	display: inline-block;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	position: relative;
	margin-bottom: 140px;
	margin-right: 40px;
	cursor: pointer;
}
main section.box-1 .main_text .play i{
	color: rgb(255, 255, 255);
	font-size: 30pt;
	-webkit-transform: translate3d(90%, 50%, 0);
	-moz-transform: translate3d(90%, 50%, 0);
	-ms-transform: translate3d(90%, 50%, 0);
	-o-transform: translate3d(90%, 50%, 0);
	transform: translate3d(90%, 50%, 0);
}
main section.box-1 .main_text h1 {
	  font-size: 60px;
	  font-family: "Circe-ExtraLight";
	  color: rgb(255, 255, 255);
	  line-height: 0.467;
		font-weight: normal;
		margin-top: 25px;
}
main section.box-1 .main_text p {
	  font-size: 18px;
	  font-family: "Circe-ExtraLight";
	  color: rgb(255, 255, 255);
	  line-height: 1.333;
}
/*
main section.box-1 footer .social, main section.box-2 footer .social {
}
main section.box-1 footer .social a {
}
main section.box-2 footer .social a {
}
main section.box-1 footer  .social a:hover {
}*/

main section.box-1 .bot_right {
position: absolute;
right: 20px;
bottom: 20px;
/*z-index: 7;*/
}
main section.box-1 .bot_right a{
	font-size: 14px;
  font-family: "Circe-ExtraLight";
  color: rgba(255, 255, 255, 0.502);
}
main section.box-1 .bot_right a i{
	font-size: 35px;
	vertical-align: middle;
	padding-right: 10px;
}
/*section 2*/

section.box-2 {

}
section.box-2 h1{
  font-size: 60px;
  color: rgb(51, 51, 51);
	font-weight: normal;
	/*margin-top: 80px;*/
	margin-left: 40px;
	padding-top: 80px;
}
section.box-2 .map {
display: inline-block;
margin-left: 110px;
vertical-align: top;
width: 260px;
height: 240px;
}
section.box-2 .map img{
width: 100%;
}
section.box-2 .main_text {
	display: inline-block;
	width: 300px;
	vertical-align: top;
}
section.box-2 .main_text{
	font-size: 14px;
	font-family: "Circe-Light";
	color: rgb(102, 102, 102);
	line-height: 1.571;
	margin-left: 90px;
}
section.box-2 .main_text.bold{
  font-size: 18px;
  font-family: "Circe-Regular";
  color: rgb(0, 0, 0);
  line-height: 1.222;

}
/*section.box-2 footer img {
}
section.box-2 footer>.about_links a {
}
section.box-2 footer p {
}*/
/*section 3*/

section.box-3 {
	background: url(../img/butan/section_3.png) no-repeat;
	background-size: cover;
}
/*section.box-3 nav.sections i {
}
section.box-3 nav.sections ul li a {
}
section.box-3 nav.sections ul li i {
}*/
section.box-3 .main_text {
	width: 460px;
  font-size: 14px;
  font-family: "Circe-Light";
  color: rgb(255, 255, 255);
  line-height: 1.6;
	margin: 0 0 0 55%;
	padding-top: 16%;
}
section.box-3 .main_text span{
	font-family: "Circe-Bold";
	font-size: 18px;
	line-height: 1.3;
}

/*section 4*/

section.box-4 {
	background: url(../img/butan/section_4.png) no-repeat;
	background-size: cover;
	}
/*section.box-4 nav.sections i {
		color: rgb(255, 255, 255);
	}
section.box-4 nav.sections ul li a {
		color: rgb(255, 255, 255);
	}

section.box-4 nav.sections ul li i {
	  color: rgb(255, 255, 255);
	}*/
section.box-4 .main_text {
		width: 460px;
	  font-size: 14px;
	  font-family: "Circe-Light";
	  color: rgb(255, 255, 255);
	  line-height: 1.6;
		margin: 0 0 0 55%;
		padding-top: 16%;
	}
section.box-4 .main_text span{
		font-family: "Circe-Bold";
		font-size: 18px;
		line-height: 1.3;
	}
/*section 5*/

section.box-5 {
		background: url(../img/butan/section_5.png) no-repeat;
		background-size: cover;
}
/*section.box-5 nav.sections i {
		color: rgb(255, 255, 255);
	}
section.box-5 nav.sections ul li a {
		color: rgb(255, 255, 255);
	}

section.box-5 nav.sections ul li i {
	  color: rgb(255, 255, 255);
	}*/
section.box-5 .main_text {
		width: 460px;
	  font-size: 14px;
	  font-family: "Circe-Light";
	  color: rgb(255, 255, 255);
	  line-height: 1.6;
		margin: 0 0 0 55%;
		padding-top: 16%;
	}
section.box-5 .main_text span{
		font-family: "Circe-Bold";
		font-size: 18px;
		line-height: 1.3;
	}
/*section 6*/

section.box-6 {
position: relative;
}
section.box-6 .main_text {
	display: inline-block;
	width: 410px;
	padding-left: 50px;
	padding-top: 70px;
}
section.box-6 .main_text h1 {
	  font-size: 60px;
	  color: rgb(51, 51, 51);
	  line-height: 0.467;
		font-weight: normal;
		margin-top: 29px;
    margin-bottom: 30px;
}
section.box-6 .main_text p {
  font-size: 14px;
  font-family: "Circe-Light";
  color: rgb(102, 102, 102);
  line-height: 1.571;
}
section.box-6 .some_slider {
	float: right;
	width: 670px;
	margin-right: 13%;
	margin-top: 4%;
	padding-top: 110px;
}
section.box-6 .some_slider .navigation {
	text-align: right;
	margin-right: 10px;
	font-size: 50px;
}
section.box-6 .some_slider .navigation img{
	cursor: pointer;
}
.owl-theme .owl-dots {
display: none !important;
}
.owl-carousel .owl-nav [class*='owl-'] {
border: none !important;
background: none !important;
display: inline-block;
margin: 0 10px;
}
.owl-carousel .owl-nav {
position: absolute;
top: -70px;
    right: 0;
}
.owl-carousel .owl-nav img {
	opacity: 0.5;
	cursor: pointer;
	transition: all .1s linear;
}
.owl-carousel .owl-nav img:hover {
	opacity: 1;

}
section.box-6 .some_slider .pic{
	display: inline-block;
	width: 319px;
	height: 295px;
	overflow: hidden;
	position: relative;
	vertical-align: top;
	float: left;
	margin-right: 0;
}
section.box-6 .some_slider .pic:nth-child(2n){
	/*display: inline-block;
	width: 311px;
	height: 297px;
	overflow: hidden;
	position: relative;
	vertical-align: top;
	float: right;*/
	margin-right: 0;
	margin-left: 9px;

}
section.box-6 .some_slider .pic1{
	display: inline-block;
	width: 319px;
	height: 143px;
	overflow: hidden;
	position: relative;
	margin-left: 9px;
	float: left;
	margin-bottom: 9px;
}
section.box-6 .some_slider .pic img, section.box-6 .some_slider .pic1 img{
	width: 100%;
	/*height: 100%;*/
}
/*section.box-6 footer img {
	border-color: rgb(77, 102, 128);;
}
section.box-6 footer>.about_links a {
  color: rgb(77, 102, 128);
}
section.box-6 footer p {
  color: rgb(51, 51, 51);
}*/
section.box-6 .popUpSlide6 {
	display: none;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0);
	z-index: 2;
}
section.box-6 .popUpSlide6 .popUp_bg {
	position: absolute;
	top: 5%;
	right: 13%;
	width: auto;
	height: 560px;
	background: rgba(255,255,255,0.9);
	text-align: center;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
section.box-6 .popUpSlide6 .bg_some {
	width: 100%;
	height: 100%;
}
section.box-6 .popUpSlide6 .bg_some .img {
	width: 90%;
	margin: 30px auto;
	height: 76%;
}
section.box-6 .popUpSlide6 .bg_some .img img{
	/*width: 100%;*/
	height: 100%;
	max-width: 100%;
}
section.box-6 .popUpSlide6 .bg_some p {
  font-size: 18px;
  font-family: "Circe-Regular";
  color: rgb(0, 0, 0);
  line-height: 1.222;
	width: 80%;
text-align: center;
margin: 0 auto;
}
/*section 7*/

section.box-7 {
background: #ebebeb;
}
section.box-7 .some_slider {
	padding-left: 45px;
	width: 680px;
	display: inline-block;
	padding-top: 70px;
}
section.box-7 .some_slider h1 {
	font-size: 60px;
	color: rgb(51, 51, 51);
	font-weight: normal;
	margin: 5px 0;
	display: inline-block;
}
section.box-7 .some_slider .navigation {
	text-align: right;
	margin-right: 10px;
	font-size: 50px;
	display: inline-block;
	float: right;
}
section.box-7 .some_slider .navigation img{
	cursor: pointer;
}


section.box-7 .some_slider .pic {
	width: 150px;
	height: 142px;
	display: inline-block;
	overflow: hidden;
	position: relative;
	margin-right: 3px;
}
.pic:hover .bg_overlay, .pic1:hover .bg_overlay {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.1);
	top: 0;
	cursor: pointer;
}
.bg_overlay {
	position: absolute;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
/*.owl-item {
	margin-right: 10px;
	display: inline;
	float: none !important;
}*/
section.box-7 .some_slider .pic:nth-child(6) {
	width: 310px;
	height: 295px;
	float: right;
	margin-top: -152px;
	    margin-right: 10px;
}
section.box-7 .some_slider .pic a img{
height: 100%;
width: 100%;
}
section.box-7 .main_text {
	width: 470px;
	display: inline-block;
	margin-left: 90px;
	padding-top: 146px;
	vertical-align: top;
}
section.box-7 .main_text p{
	font-size: 14px;
  font-family: "Circe-light";
  color: rgb(51, 51, 51);
  line-height: 1.6;
}

section.box-7 .main_text p span{
  font-size: 18px;
  font-family: "Circe-regular";
  color: rgb(51, 51, 51);
  line-height: 1.333;
}
section.box-7 .main_text a {
  font-size: 14px;
  font-family: "Circe-light";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
	background: #4d6680;
	display: inline-block;
	padding: 13px 30px;
	margin-top: 10px;
}
/*section.box-7 footer img {
	border-color: rgb(77, 102, 128);
}
section.box-7 footer>.about_links a {
  color: rgb(77, 102, 128);
}
section.box-7 footer p {
  color: rgb(51, 51, 51);
}*/
section.box-7 .popUp {
z-index: 9999;
}
section.box-7 .popUp_bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	background: rgba(232, 234, 237, 0.8);
	z-index: 2;
}
section.box-7 .popUp .window .close{
	position: absolute;
	cursor: pointer;
	z-index: 10070;
	top: 3%;
	right: 3%;
	margin: 0;
}
section.box-7 .popUp .popUp_bg {
	background: rgba(0, 0, 0, 0.5);
}
section.box-7 .popUp .window{
	background: #fff;
	width: 460px;
	height: 415px;
	margin: 25vh auto;
	text-align: center;
	z-index: 9999;
	position: relative;
}
section.box-7 .popUp .window p {
	width: 230px;
	font-size: 24px;
	font-family: "Circe-regular";
	color: rgb(51, 51, 51);
	line-height: 1.167;
	margin: 0 auto;
	padding: 50px 0;
}
section.box-7 .popUp .window p.sucs {
padding-top: 160px;
padding-bottom: 100px;
}
section.box-7 .popUp .window form input, button {
	width: 250px;
	margin-bottom: 10px;
	padding: 10px 20px;
	border: 1px solid #4d6680;
}
section.box-7 .popUp .window form button {
	background: #4d6680;
	text-transform: uppercase;
	color: white;
	font-family: "Circe-ExtraLight";
  font-size: 14px;

}
section.box-7 .popUp .window img {
	margin-top: 30px;
}
section.box-7 .popUp_list {
}
section.box-7 .popUp_list .window{
	background: #fff;
	width: 95vw;
	height: 90vh;
	margin: 5vh auto;
	text-align: left;
	position: relative;
	z-index: 9999;
}
section.box-7 .popUp_list .window .left {
	width: 840px;
	height: 525px;
	overflow: hidden;
	float: left;
	position: relative;
}
section.box-7 .popUp_list .window .left .zoomIcon {
position: absolute;
left: 50%;
top: 5%;
z-index: 1;
width: 36px;
}
section.box-7 .popUp_list .window .left .img {
	overflow: hidden;
	margin: 20px;
	margin-left: 80px;
  cursor: url(../img/cursor.png), pointer;
	display: inline-block;
	width: 76.5%;
	margin-right: 0;
	float: left;
}
section.box-7 .popUp_list .window .left .img.solo {
	width: auto;
}
section.box-7 .popUp_list .window .left .img a{
	display: block;
}
section.box-7 .popUp_list .window .left .img img {
 width: 120%;
height: 100%;
}
section.box-7 .popUp_list .window .left .img1 {
overflow: hidden;
margin-top: 10px;
float: right;
cursor: pointer;
display: inline-block;
width: 105px;
height: 105px;
}
section.box-7 .popUp_list .window .left .img + .img1{
	margin-top: 20px;
}
section.box-7 .popUp_list .window .left .img1 img {
height: 100%;
}
section.box-7 .popUp_list .window .left .img img:last-child{
	z-index: 2;
}
section.box-7 .popUp_list .window .cont {
	float: right;
	margin-right: 115px;
}
section.box-7 .popUp_list .window .cont p {
  font-size: 14px;
  font-family: "Circe-light";
  color: rgb(179, 179, 179);
  line-height: 1.571;
}
section.box-7 .popUp_list .window .cont p:nth-child(2) {
	margin-top: 80px;
	margin-bottom: -10px;
}
section.box-7 .popUp_list .window .cont p:nth-child(2) span {
  color: rgb(102, 102, 102);
}
section.box-7 .popUp_list .window .cont h3 {
  font-size: 24px;
  font-family: "Circe-regular";
  color: rgb(51, 51, 51);
  line-height: 1.167;
	font-weight: normal;
	margin-bottom: 0px;
}
section.box-7 .popUp_list .window .cont p:nth-child(4) {
  color: rgb(102, 102, 102);
  line-height: 1.571;
}
section.box-7 .popUp_list .window .cont a {
	font-size: 14px;
  font-family: "Circe-light";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
	background: #4d6680;
	display: inline-block;
	padding: 13px 30px;
	margin-top: 134px;
	margin-bottom: 20px;
}
section.box-7 .popUp_list .window .cont p:nth-child(6) {
	color: rgb(102, 102, 102);
  line-height: 1.571;
}
section.box-7 .popUp_list .window .cont p:nth-child(6) span {
	color: #4d6680;
	text-decoration: underline;
}
section.box-7 .popUp_list .window .owl-nav {
	position: static;;
 top: auto;
 right: auto;
}
section.box-7 .popUp_list .window .owl-nav img{
	position: absolute;
	cursor: pointer;
	z-index: 999;
}

section.box-7 .popUp_list .window .owl-nav .owl-prev img{
	top: 45%;
	left: 2%;
}
section.box-7 .popUp_list .window .owl-nav .owl-next img {
	top: 45%;
	right: 2%;
}

section.box-7 .popUp_list .close {
	position: absolute;
	cursor: pointer;
	z-index: 10070;
	top: 6%;
	right: 3%;
}
/*Footer*/

main>footer.section {
	background: url(../img/footer.png) no-repeat;
	height: 100vh;
	background-size: cover;
	text-align: center;
	font-family: "Circe-ExtraLight";
	z-index: 9;
}
main>footer.section div img{
margin: 12% 0 3% 0;
}
main>footer.section div p{
  font-size: 18px;
  font-family: "Circe-ExtraLight";
  color: rgb(255, 255, 255);
  line-height: 1.333;
}
main>footer.section div nav ul{
	padding: 0;
}
main>footer.section div nav ul li{
	display: inline-block;
}
main>footer.section div nav ul li:nth-child(2) {
	margin: 0 20px;
}
main>footer.section div nav ul li a{
  color: rgb(255, 255, 255);
	font-size: 14px;
}
main>footer.section div .tel {
	margin-top: 8%;
	font-size: 24px;
}
main>footer.section div .social {
}
main>footer.section div .social a{
	display: inline-block;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	width: 28px;
	height: 28px;
	margin: 0 5px;
	transition: background .3s linear;
}
main>footer.section div .social a:hover{
	background: rgba(255, 255, 255, 1);
}
main>footer.section div .social a i{
	color: rgba(0,0,0,0.9);
	vertical-align: sub;
}

header nav.pages ul li a:after {
	content: " ";
	display: block;
	position: relative;
	height: 1px;
	width: 100%;
	background: white;
	opacity: 0.2;
	transition: opacity .3s linear;
	z-index: 20;
	top: -5px;
}
header nav.pages ul li:first-child a:after {
	display: none;
}
header nav.pages ul li a:hover:after{
	opacity: 1;
}
footer .about_links a:after {
	content: " ";
	display: block;
	position: relative;
	height: 1px;
	width: 100%;
	background: white;
	opacity: 0.2;
	transition: opacity .3s linear;
	z-index: 20;
	top: -3px;
}
.fixedFooter_black footer .about_links a:after {
background: rgb(77, 102, 128);
}
footer .about_links a:hover:after {
		opacity: 1;
}

main>footer.section div nav ul li a:after {
	content: " ";
	display: block;
	position: relative;
	height: 1px;
	width: 100%;
	background: white;
	opacity: 0.2;
	transition: opacity .3s linear;
	z-index: 20;
	top: -3px;
}
main>footer.section div nav ul li a:hover:after {
opacity: 1;
}
/*.box-2.active, .box-6.active, .box-7.active{
	z-index: 2;
}
.box-3.active, .box-4.active, .box-5.active {
	z-index: 4;
}*/

.hideme {
	transition: opacity .5s linear;
}
.fixedElements .fixedHeader, .fixedFooter_white, .fixedHeader_black, .fixedFooter_black {
	display: none;
}
